.root {
    display: flex;
    flex-direction: row;
    padding: 25px 40px;
    top: 0;
    background-color: white;
    align-items: center;
}

.route, .endRoute {
    color: black;
    padding: 12px 24px;
    margin: 0 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.25s background-color;
}

.route:hover, .endRoute:hover, .selected {
    background-color: white;
}

.endRoute {
    margin-left: auto;
}
