.centerText {
    text-align: center;
}
.indexContainer {
    margin-top: 50px;
}

button.buyButton {
    background-color: white;
    color: black;
    width: 200px;
    border-color: black;
    height: 50px;
    font-size: 22px;
}
button.buyButton:hover {
    color:white;
    background-color:black;
    border-color: white;
}
.chevron {
    color: black;
}
.chevron:hover {
    background-color: darkgrey;
}

div.learnMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
h1.productTitle {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 150px;
    width: 200px;
    z-index: 10;
}
div.productsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
}
img.runnerImage {
    width: 500px;
    margin-right: 30px;
}
div.productText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.productText h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
}
div.productText p {
    width: 500px;
}
div.deviceSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span.features {
    font-size: 25px;
    font-weight: bold;
}
div.viewAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-bottom: 100px;
}
div.viewAll h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 10px;
}
div.customerReviewContainer {
    width: 100%;
    background-color: lightgrey;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
div.customerReviewContainer h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    width: 40vw;
}
div.customerReviewRight {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
div.customerReviewRight p {
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
div.starContainer {
    margin-bottom: 20px;
}
div.weirdContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 100px;
}

div.smallRoundedSquare {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid black;
}

div.largeRoundedSquare {
    height: 400px;
    width: 400px;
    border-radius: 25px;
    border: 2px solid black;
}
div.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    padding: 35px;

}
div.footer h2 {
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
div.footerRow {
    display:flex;
    justify-content: space-between;
    width: 40vw;
}
div.footerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.footerRow h3 {
    font-family: sans-serif;
    font-size: 20px;
}
div.footerRow h3:hover {
    text-decoration: underline
}
button.buyProductButton {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 25px;
}
button.buyProductButton:hover {
    color: white;
    background-color: black;
    border-color: white;
}