.root {
    display: flex;
    flex-direction: row;
    padding: 25px 40px;
    top: 0;
    background-color: white;
    align-items: center;
}

.route, .endRoute {
    color: black;
    padding: 12px 24px;
    margin: 0 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.25s background-color;
}

.route:hover, .endRoute:hover, .selected {
    background-color: white;
}

.endRoute {
    margin-left: auto;
}
.cartIcon {
    color: black;
    font-weight: 300;
}
div.title {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 550;
    margin: 30px 0px;
}

div.headerContainer {
    border-bottom: 3px solid black;
    margin: 0px 50px;
    border-radius: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
div.headerContainer button {
    color: black;
    font-size: 3rem;
    opacity: 1;
    font-weight: 300;
}
div.bodyContainer {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300; 
    margin: 30px 50px; 
    padding-bottom: 50px;
    border-bottom: 3px solid black;
    border-radius: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
button.removeItem {
    margin-left: 90%;
    background-color: white;
    border-color: white;
    color: gray;
    font-size: 34px;
    transition: color 0.1s;
}
button.removeItem:hover {
    background-color: white;
    border-color: white;
    color: black;
}
div.item {
    width: 100%;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

div.item div {
    display: flex;
    flex-direction: column;
}
div.item div h1 {
    font-family: sans-serif;
}
div.item div h1.productName {
    font-weight: 700;
}
div.item h1.price {
    margin-top: auto;
    margin-right: 10px;
}
img.infinityImage {
    width: 200px;
    margin-top: -50px;

}
button.cartButton {
    color: black;
    background-color: white;
    border-color: white;
    font-size: 24px;
}
button.cartButton:hover {
    color: white;
    background-color: black;
    border-color: white;
}
button.cartButton:active {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}
button.cartButton:focus {
    color: white !important;
    background-color: black !important;
    border-color: white !important;
}
div.footerContainer {
    border-top: 0px;
}
div.footerContent {
    margin: 30px 50px 100px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
div.finalPrice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.nextButton {
    width: 70%;
    height: 70px;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    background-color: white;
    border: 4px solid black;
    margin-top: 20px;
}

button.nextButton:hover {
    color: white;
    background-color: black;
    border-color: black;
}
button.nextButton:active {
    color: white;
    background-color: black;
    border-color: white;
}